/* Jude Tinkler-Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: #5ebec4;
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, h4, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width: 400px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #f92c85;
    margin-bottom: 20px;  
}

.chartelec{
    background-color: white;
    width:550px;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #f92c85;
    margin-bottom: 20px;  
}  


.chart2{
    background-color: white;
    width:300px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #f92c85;
}    

.chart3{
    background-color: white;
    width:500px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #f92c85;
}    

.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: #fdf5df;
    border: solid;
    border-radius: 5px;
    margin-bottom: 20px;
}   

.myWeek2{
    margin: auto;
    max-width: 600px;
    background-color: #fdf5df;
    border: solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.myWeek3{
    margin: auto;
    max-width: 600px;
    background-color: #fdf5df;
    border: solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.myWeek4{
    margin: auto;
    max-width: 600px;
    background-color: #fdf5df;
    border: solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.myWeek5{
    margin: auto;
    max-width: 600px;
    background-color: #fdf5df;
    border: solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
.myWeek7{
    margin: auto;
    max-width: 600px;
    background-color: #fdf5df;
    border: solid;
    border-radius: 5px;
    margin-bottom: 20px;
}
